body,ul,li,p,th,td,h2{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
img{
	border: none;
}
a{
	color: black;
	text-decoration: none;
}
a:visited{
	color:#4c4c4c;
}
button,input{
	font-size: 100%;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	min-width: 1000px;
}
/*字体重置 */
body,input,button{
	font:12px/1.5em "Microsoft YaHei",Arial;
	color:#4c4c4c;
}
.clearfix:before,.clearfix:after{
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after{
	clear: both;
}
.wrapper{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.header,.main,.footer{
	width: 100%;
	overflow: hidden;
}

.header{
	height: 50px;
	// line-height: 50px;
	background: #0085d0;
	color: white;
}
.header a{
	color: white;
}
.logo{
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;

}
.logo img{
	vertical-align: middle;
}
.logoText{
	position: relative;
	top: 2px;
	font-size: 16px;
}
.user{
	float: right;
	margin-top: 14.5px;
}
.regist{
	margin-left: 25px;
}
.login,.regist{
	display: inline-block;
}

.ico{
	vertical-align: middle;
}

.loginText,.registText{
	vertical-align: middle;
	margin-left: 10px;
}
.banner{

	width: 100%;
	overflow: hidden;
	// position: relative;
}

.bannerImg{
	position: relative;
	left: 50%;
	margin-left: -960px;
}
.analyze,.all,.system{
	text-align: center;
}


h2.title{
	font-size: 25px;
	color: #0085d0;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 40px;
}

p.detail{
	font-size: 14px;
	color: #555;
}


.btnTest,.btnDemo{
	width: 110px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
}

.btnTest{
	background-image: url("../img/btn_whiteBG.png");
	color: #555;
	margin-right: 50px;
}

.btnDemo{
	background-image: url("../img/btn_blueBG.png");
	color: white;
}
.btn-group{
	margin: 45px 0;
}

.attribute{
	margin-bottom: 50px;
}
.attr{
	text-align: center;
	display: inline-block;
	width: 173px;
	height: 199px;
	color: white;
	font-size: 15px;
}

.attr1{
	background: url(../img/attr_greenBG.png);
}
.attr2{
	background: url(../img/attr_blueBG.png);
}

.attr1,.attr2{
	margin-right: 13%;
}
.attr3{
	background: url(../img/attr_redBG.png);
}
.attr .ico{
	margin-top:56px;
	margin-bottom: 24px; 
}
.all{
	padding-top: 1px;
	background: #0085d0;
	color: white;
}
.specialNum{
	color: #f9e60e;
	font-size:25px;
}
.all p.detail{
	color: white;
}
.imgWrapper{
	margin-right: 39.5px;
}

.logoImg{
	margin-top: 56px;
	margin-bottom: 48px;
}
.choose{
	text-align: center;
	display: inline-block;
	position: relative;
}
.choose li{
	float: left;
}



.choose a{
	font-size: 16px;
	display: inline-block;
	color: #888;
	margin-right: 25px;
	padding-bottom: 10px;
}

.choose li.active a{
	color: #0085d0;
	border-bottom: 2px solid #0085d0;
}
.choose li.active{

}
.introduce{
	margin-top: 50px;
}
.introduce p{
	text-indent: 2em;
	text-align: left;
	line-height: 2em;
	font-size: 14px;
}

.icoStart{
	vertical-align: middle;
	margin-right: 20px;
}
.introduceTitle{
	position: relative;
	top: 3px;
	font-size: 16px;
	font-weight: bold;
	color:#0085d0;
	display: inline;
}
.introduceLeft{
	width: 500px;
	display: inline-block;
	float: left;
}
.footer{
	text-align: center;
	height: 68px;
	background: #0085d0;
	line-height: 68px;
	color: white;
}

.copyright{
	line-height: 2em;
	margin-top: 10px;
}

.introduceLeft p{
	margin-left: 40px;
	font-size: 14px;
	color: #888;
	margin-top: 21px;
}

div.start{
	text-align: left;
}